# .env.example
SA_PASSWORD=ChangeMe123!
SQL_CONNEXION_STRING=Server=sqlserver;Database=MediLaboSolutions;User Id=sa;Password=${SA_PASSWORD};TrustServerCertificate=True;Encrypt=False
MONGO_CONNEXION_STRING=mongodb://mongodb:27017