@model MediLaboSolutions.Web.Models.Patients.PatientDto

@{
    ViewData["Title"] = "Supprimer un patient";
}

<h1>Supprimer un patient</h1>
<h3>Êtes-vous sûr de vouloir supprimer ce patient ?</h3>

<div>
    <h4>Patient</h4>
    <hr />
    @await Html.PartialAsync("Patients/_PatientDisplay", Model)

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Index">Annuler</a>
    </form>
</div>
