@model MediLaboSolutions.Web.Models.Patients.PatientDto

@{
    ViewData["Title"] = "Détails du patient";
}

<h1>Détails du patient</h1>

<div>
    <h4>Patient</h4>
    <hr />
    @await Html.PartialAsync("Patients/_PatientDisplay", Model)
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Modifier</a>
    <a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
</div>
