@using MediLaboSolutions.Common.Enumerables
@model MediLaboSolutions.Web.Models.Patients.PatientDto

@{
    ViewData["Title"] = "Modifier un patient";
}

<h1>Modifier un patient</h1>

<h4>Patient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            @await Html.PartialAsync("Patients/_PatientFormFields", Model)
            @await Html.PartialAsync("Patients/_AdresseFormFields", Model, new ViewDataDictionary(ViewData) { { "IsEdit", true } })

            <div class="form-group">
                <label asp-for="Telephone" class="control-label"></label>
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Enregistrer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
