@using MediLaboSolutions.Common.Enumerables
@model MediLaboSolutions.Web.Models.Patients.PatientDto

@{
    ViewData["Title"] = "Modifier un patient";
}

<h1>Modifier un patient</h1>

<h4>Patient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label class="control-label">
                    Nom
                    <input asp-for="Nom" class="form-control d-block mt-1" />
                </label>
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">
                    Prénom
                    <input asp-for="Prenom" class="form-control d-block mt-1" />
                </label>
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">
                    Date de naissance
                    <input asp-for="DateNaissance" class="form-control d-block mt-1" type="date" />
                </label>
                <span asp-validation-for="DateNaissance" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">
                    Genre
                    <select asp-for="Genre"
                            class="form-control d-block mt-1"
                            asp-items="Html.GetEnumSelectList<EPatientGender>()">
                    </select>
                </label>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">
                    Adresse postale
                    <input asp-for="AdressePostale" class="form-control d-block mt-1" />
                </label>
                <span asp-validation-for="AdressePostale" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">
                    Téléphone
                    <input asp-for="Telephone" class="form-control d-block mt-1" />
                </label>
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Enregistrer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
